<!-- <section class="py-5">
  <div class="container px-5">
      <div class="bg-light rounded-4 py-5 px-4 px-md-5">
          <div class="text-center mb-5">
              <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
              <h1 class="fw-bolder">Estamos en contacto</h1>
              <p class="lead fw-normal text-muted mb-0">Vamos a trabajar juntos!</p>
          </div>
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-8 col-xl-6">
                  <form id="contactForm" action="https://formsubmit.co/6f5946374eaaaeef9a2ebfbbfe9750ae" method="POST">
                      <div class="form-floating mb-3">
                          <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                          <label for="name">Nombre completo</label>
                          <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                      </div>
                      <div class="form-floating mb-3">
                          <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                          <label for="email">Email</label>
                          <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                          <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                      </div>
                      <div class="form-floating mb-3">
                          <input class="form-control" id="phone" name="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                          <label for="phone">Teléfono</label>
                          <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                      </div>
                      <div class="form-floating mb-3">
                          <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                          <label for="message">Mensaje</label>
                          <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                      </div>
                      <div class="d-none" id="submitSuccessMessage">
                          <div class="text-center mb-3">
                              <div class="fw-bolder">Form submission successful!</div>
                              To activate this form, sign up at
                              <br />
                              <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                          </div>
                      </div>
                      <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                      <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar</button></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
 -->

 <div class="container text-center my-5">
  <div class="row my-5">
      <div class="col-12 my-5">
          <!-- Teléfonos -->
          <div class="mb-4">
              <i class="bi bi-telephone-fill" style="font-size: 2rem;"></i>
              <p class="mb-0"><a class="large" href="tel:+34603016829">603 01 68 29</a></p>
              <a class="fs-6" href="tel:+34687769421">687 76 94 21</a>
          </div>
          <!-- Correo Electrónico -->
          <div class="mb-4">
              <i class="bi bi-envelope-fill" style="font-size: 2rem;"></i>
              <p><a class="fs-6" href="mailto:contacto@estudionoventayseis.com">contacto&#64;estudionoventayseis.com</a></p>
          </div>
          <!-- Instagram -->
          <div class="mb-4">
              <i class="bi bi-instagram" style="font-size: 2rem;"></i>
              <p><a class="fs-6" href="https://www.instagram.com/_estudionoventayseis?igsh=MXJzOXVvaHFmMmtkag==">&#64;_estudionoventayseis</a></p>
            <!-- <p>&#64;_estudionoventayseis</p> -->
          </div>
          <!-- Ubicación -->
          <div>
              <i class="bi bi-geo-alt-fill" style="font-size: 2rem;"></i>
              <p>Alicante / España / Global</p>
          </div>
      </div>
  </div>
</div>

