<!-- <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="#"><span class="fw-bolder text-primary"><i class="bi bi-laptop me-2"></i> Estudio 96</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
        <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#sobre-nosotros">Sobre nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="#proyectos">Proyectos</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <header class="container-fluid bg-light py-3">
  <div class="container d-flex justify-content-between align-items-center">
      <img src="../../../assets/images/5.png" alt="Logo" class="logo">
      <nav>
          <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link active" href="#">INICIO</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">SOBRE NOSOTROS</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">CONTACTO</a>
              </li>
          </ul>
      </nav>
  </div>
</header> -->

<header class="container-fluid py-3 fixed-top set-color-beige">
      <div class="row">
          <div class="col-12 d-flex justify-content-center">
              <img src="../../../assets/images/IMG_7010.jpg" alt="Logo" class="logo">
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-12 d-flex justify-content-center align-items-center w-100 set-color-dark-green">
              <nav class="navbar navbar-expand-lg w-100 d-flex justify-content-center align-items-center">
                  <ul class="nav w-100 justify-content-between justify-content-md-around align-items-center">
                      <li class="nav-item">
                          <a class="nav-link dynamic-text active" href="#inicio">INICIO</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link dynamic-text" href="#sobre-nosotros">SOBRE NOSOTROS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link dynamic-text" href="#proyectos">PORTFOLIO</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link dynamic-text" href="#contacto">CONTACTO</a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
</header>


